/* body, html {
    height: 100%;
    margin: 0;
} */

body {
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    height: 100vh;
}
a{
    color: rgb(71, 71, 71);
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: pink;
}

.display-3 {
    color: rgb(71, 71, 71);
    font-weight: 500;
}

 h2 {
    color: rgb(71, 71, 71);
}

@media only screen and (max-width: 767px) {
    .display-3 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.5em;
    }
 }